.Form-Page-Container {
    position: relative;
    width: 100%;
    display: table;
    

}

.form-container-dad {
    position: relative;
    margin: 0 auto;
    width: 960px;
    display: table;
    text-align: center;
    padding: 2.5% 0% 3.5% 0%;
    border-top: 1px solid #dcdcdc;
    border-bottom: 1px solid #dcdcdc;
}

.form-container {
    text-align: center;
    position: relative;
}


label.title {
    width: 100%;
    display: block;
    margin-top: 30px;
    font-size: 14px;
    font-weight: 500;
    font-family: revert;
    color: #fa7d88;
}





input.artist {
    margin-top: 10px;
    position: relative;
    height: 35px;
    width: 225px;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: -8px -4px 8px 0px #ffffff, 8px 4px 12px 0px #d1d9e6, 4px 4px 4px 0px #d1d9e6 inset, -4px -4px 4px 0px #ffffff inset;
    padding: 0px 0px 0px 10px;
    border: #bc4549;
    color: -internal-light-dark(rgb(255, 255, 255), white);
    letter-spacing: no
}

input.song {
    margin-top: 10px;
    position: relative;
    height: 35px;
    width: 225px;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: -8px -4px 8px 0px #ffffff, 8px 4px 12px 0px #d1d9e6, 4px 4px 4px 0px #d1d9e6 inset, -4px -4px 4px 0px #ffffff inset;
    padding: 0px 0px 0px 10px;
    border: #bc4549;
}

input.send{
    padding: 5px;
    margin: 40px 0px;
    width: 225px;
    background-color: #000;
    color: #fff;
    font-family: fantasy;
    border-radius: 20px;

}

